*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #d0ebff;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.box{
  width: 120px;
  height: 120px;
  background: #4dabf7;
  border-radius: 10px;
  border: 1px solid #74c0fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img{
  width: 60%;
  height: auto;
}

.row{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.board{
  margin: 50px 0 20px 0;
}

button{
  width: 150px;
  height: 50px;
  font-size: 1.6rem;
  margin-bottom: 50px;
  color: white;
  background: #1c7ed6;
  border: 2px solid white;
  border-radius: 20px;
}

.title img{
  vertical-align: middle;
  width: 2.5rem;
}